#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/python/python.mk

%:
	dh $@

override_dh_auto_build:
	python ./setup.py build --prefix=/usr

override_dh_clean:
	python ./setup.py clean
	rm -rf build-stamp build installed_files ccsm.desktop
	dh_clean 

override_dh_auto_install:
	dh_prep
	python setup.py install --root=debian/tmp --prefix=/usr $(py_setup_install_args)

override_dh_install:
	find $(CURDIR)/debian/tmp/usr/lib -type f -name '*.pyc' -o -name '*.egg-info' | xargs rm -f
	dh_install --sourcedir=debian/tmp --fail-missing

